body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header, footer {
    background-color: lavender;
    border: 1px solid lightblue;
}

main {
    background-color: lavenderblush;
}

book-title {
    font-style: italic;
}

li {
    list-style: none;
}

h2 {
    color: lightseagreen;
}

h3 {
    color: plum;
}

h4 {
    color: pink;
}

h5 {
    color: powderblue;
}

a:hover {
    color: palevioletred;
}

a {
    color: black;
    text-decoration: none;
}